$def with (ctx,param={},pagedata={})
$code:
    realhome = ctx.get('realhome','')
<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8" />
		<title>$pagedata['article'].get('ART_TITLE','新建文章')</title>
		<link rel="stylesheet" href="$realhome/x/wiki/static/css/style.css" />
        <link rel="stylesheet" href="$realhome/x/wiki/static/css/editormd.min.css" />
        <style type="text/css">
        .thisInput {height:31px; padding: 8px;}
        </style>
	</head>
	<body>
		<br>
		<div id="layout" style="margin-left:8px;margin-right:8px;">
            <input type="hidden" id="ART_ID" name="ART_ID" value="$param.get('id','')">
            <input type="text" class="thisInput" id="ART_TITLE" name="ART_TITLE" size="50" value="$pagedata['article'].get('ART_TITLE','')" placeholder="标题">
            <input type="text" class="thisInput" id="ART_KEYWORDS" name="ART_KEYWORDS" size="50" value="$pagedata['article'].get('ART_KEYWORDS','')" placeholder="关键字">
            <button class="btn" onclick="javascript:saveArticle()">保存</button>
            <button class="btn" onclick="javascript:history.go(-1)">取消</button>
            <br><br>
            <div class="row-fluid">
                <div id="test-editormd">
                    <textarea style="display:none;" id="ART_CONTENT" name="ART_CONTENT">$pagedata['article'].get('ART_CONTENT','')</textarea>
                </div>
            </div>
        </div>
        <script src="$realhome/x/wiki/static/js/jquery.min.js"></script>
        <script src="$realhome/x/wiki/static/editormd.min.js"></script>
        <script type="text/javascript">
        	var testEditor;
            jQuery(function() {
                var markdoc = jQuery('#ART_CONTENT').val();
                testEditor = editormd("test-editormd", {
                    width: "100%",
                    height: 710,
                    path : 'static/lib/',
                    markdown : markdoc,
                    codeFold : true,
                    //syncScrolling : false,
                    saveHTMLToTextarea : true,    // 保存HTML到Textarea
                    searchReplace : true,
                    //watch : false,                // 关闭实时预览
                    htmlDecode : "style,script,iframe",            // 开启HTML标签解析，为了安全性，默认不开启
                    //toolbar  : false,             //关闭工具栏
                    //previewCodeHighlight : false, // 关闭预览HTML的代码块高亮，默认开启
                    emoji : true,
                    taskList : true,
                    toc             : true,         // Using [TOC]
                    tocm            : false,        // Using [TOCM]
                    tex : false,                   // 开启科学公式TeX语言支持，默认关闭
                    flowChart : true,             // 开启流程图支持，默认关闭
                    sequenceDiagram : false,       // 开启时序/序列图支持，默认关闭,
                    //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                    //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                    //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                    //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                    //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
                    imageUpload : true,
                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL : "./rst/img",
                    atLink    : false,    // disable @link
                    emailLink : false     // disable email address auto link
                });
            });
            var ajaxErrorHandle = function (XMLHttpRequest, textStatus, errorThrown) {
                if (XMLHttpRequest.status==500){
                    alert(XMLHttpRequest.status + " : " + errorThrown);
                } else if (XMLHttpRequest.responseText) {
                    alert(XMLHttpRequest.responseText);
                } else if (textStatus) {
                    alert(textStatus);
                }
            }
            function saveArticle() {
            	if (!jQuery("#ART_TITLE").val()) {
                    alert('标题不能为空！');
                    jQuery("#ART_TITLE").focus();
                    return;
                }
                console.log("************************")
                console.log(testEditor.getMarkdown);
                if (!testEditor.getMarkdown()) {
                    alert('正文不能为空！');
                    return;
                }
         		var inData = {"ART_ID":jQuery('#ART_ID').val(), "ART_TITLE":jQuery("#ART_TITLE").val(), "ART_KEYWORDS":jQuery("#ART_KEYWORDS").val(), "ART_CONTENT":testEditor.getMarkdown() };
         		jQuery.ajax({
                    type: "POST",
                    url: "./rst/art",
                    data: inData,
                    async: false,
                    error: ajaxErrorHandle,
                    success: function(json) {
                        data = JSON.parse(json);
                        if (data.ERROR) {
                            alert(data.ERROR);
                        } else if (data.ART_ID) {
                            jQuery('#ART_ID').val(data.ART_ID);
                        }
                        if (data.MSG) {
                            alert(data.MSG);
                            var ids = jQuery('#ART_ID').val();
                            window.location.href ="$realhome/x/wiki/wkv2?id="+ids;
                        }
                    }
                });
            }
        </script>
	</body>
</html>