$def with (ctx,param={},pagedata={})
$code:
    realhome = ctx.get('realhome','')
    artldata = pagedata['artldata']

<style>
    .editormd-html-preview {
        width: 100%;
        margin: 0 auto;
    }
    ul, ol {
        list-style: disc;
    }
    li {
        list-style: disc;
    }
    blockquote p {
        font-size: 14px;
        line-height: 1.6
    }
    .side-catalog {
        visibility: visible;
        z-index: 1;
        right: 2px;
        bottom: 39px;
        width: 320px;
        height: 456px;
        position: fixed;
        font-size: 14px;
        font-family: 宋体;
        line-height: 19px;
        filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;
    }
    .catalog-scroller {
        position: absolute;
        top: 37px;
        left: 0;
        width: 210px;
        height: 330px;
        overflow: hidden
    }
    #custom-toc-container {
        border: 1px solid #ddd;
        width: 100%;
        height: 100%;
        margin: 0 auto 5px;
        overflow: auto;
        padding: 0px;
    }
    #custom-toc-container > .markdown-toc {
        padding: 10px;
    }
</style>

<div class="container-fluid" style="text-align: left">
    <div class="row-fluid">
        <div class="span12 blog-page">
            <div class="row-fluid">
                <div class="span9 article-block">
                    <div class="row-fluid">
                        <div class="span12 blog-article">
                            <h1>$artldata.get('ART_TITLE',artldata.get('ERROR',''))
                                <small style="font-size: 14px"><a href="$realhome/x/wiki/wkv1?id=$param.get('id','')">只看正文</a></small>
                            </h1>
                            <div class="blog-img blog-tag-data">
                                <div class="span6">
                                    <ul class="unstyled inline blog-tags">
                                        <li>
                                            <i class="icon-tags"></i>
                                        $for tag in artldata.get('ART_KEYWORDS','').split(' '):
                                            <a href="$realhome/x/wiki/wklist?tag=$tag">$tag</a>
                                        </li>
                                    </ul>
                                    <ul class="unstyled inline blog-tags">
                                        <li><i class="icon-eye-open"></i> $artldata.get('MATCH_TIMES',0)
                                        </li>
                                    </ul>
                                </div>
                                <div class="span6 blog-tag-data-inner">
                                    <ul class="unstyled inline">
                                        <li>
                                            <a href="$realhome/x/wiki/wkedit?id=$artldata.get('ART_ID','')"><i class="icon-edit"></i> 编辑</a>
                                        </li>
                                        <li>
                                            <i class="icon-user"></i> $artldata.get('CREATE_USER','')<BR>
                                            <i class="icon-user-md"></i> $artldata.get('UPDATE_USER','')
                                        </li>
                                        <li>
                                            <i class="icon-calendar"></i> $artldata.get('CREATE_TIME','')<BR>
                                            <i class="icon-calendar"></i> $artldata.get('UPDATE_TIME','')
                                        </li>
                                    </ul>
                                </div>
                                <input type="hidden" id="ART_CONTENT" name="ART_CONTENT" value="$artldata.get('ART_CONTENT','')">
                            </div>
                        </div>
                    </div>
                    <div id="test-editormd-view">
                       <textarea style="display:none;" name="test-editormd-markdown-doc"></textarea>
                    </div>
                </div>
                <!-- 嵌套wikiside页面 -->
                $:pagedata['sidepage'](ctx,param,pagedata)
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
	var testEditormdView;
	
	function PageInit() {
        testEditormdView = editormd.markdownToHTML("test-editormd-view", {
            markdown        : jQuery('#ART_CONTENT').val(),
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            toc             : true,
            emoji           : true,
            taskList        : true,
            tex             : true,              // 默认不解析
            flowChart       : true,         // 默认不解析
            sequenceDiagram : false,  // 默认不解析
            atLink    : false,    // disable @link
            emailLink : false,    // disable email address auto link
            tocContainer  : "#custom-toc-container",
            tocDropdown   : false
        });
    };
</script>