$def with (pagedata={})
$code:
    datalist = pagedata['datalist']

<head>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">  
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->  
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>  
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->  
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> 
<link href="static/css/pages/blog.css" rel="stylesheet" type="text/css" />
<link href="static/wiki/static/css/editormd.preview.min.css" rel="stylesheet" type="text/css" />
</head>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 blog-page">
            <div class="row-fluid">
                <div class="span9 article-block">
                $for artldata in datalist:
                    <div class="row-fluid">
                        <div class="span12 blog-article">
                            <h2><a href="">$artldata['ART_TITLE']</a></h2>
                            <div class="blog-img blog-tag-data">
                                <div class="span6">
                                    <a href="">只看正文</a>
                                    <ul class="unstyled inline blog-tags">
                                        <li>
                                            <i class="icon-tags"></i>
                                        $for tag in artldata.get('ART_KEYWORDS','').split(' '):
                                            <a href=""></a>
                                        </li>
                                    </ul>
                                    <ul class="unstyled inline blog-tags">
                                        <li><i class="icon-eye-open"></i> $artldata.get('MATCH_TIMES',0)
                                        </li>
                                    </ul>
                                </div>
                                <div class="span6 blog-tag-data-inner">
                                    <ul class="unstyled inline">
                                        $if artldata.get('CAN_DEL',False):
                                            <li><a href="javascript:showModiusers('$artldata.get('ART_ID','')')" class="tooltips" data-original-title="$artldata.get('CANMODI_NAMES','')"><i class="icon-group"></i> 权限</a></li>
                                            <li><a href="javascript:delAction('$artldata.get('ART_ID','')')"><i class="icon-trash"></i> 删除</a></li>
                                        $if artldata.get('CAN_MODI',False):
                                            <li><a href="$realhome/x/wiki/wkedit?id=$artldata.get('ART_ID','')"><i class="icon-edit"></i> 编辑</a></li>
                                        <li><i class="icon-user"></i> $artldata['UPDATE_USER'] </li>
                                        <li><i class="icon-calendar"></i> $artldata['UPDATE_TIME'] </li>
                                    </ul>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <hr style="margin-top: 0px !important">
                </div>
                <!--end span9-->
            </div>
            <div class="pagination">
                <ul>
                    <li class="active"><a href="#">上一页</a></li>
                    <li><a href="">上一页</a></li>
                        <li class="active"><a href="#"></a></li>
                        <li><a href=""></a></li>
                    <li class="active"><a href="#">下一页</a></li>
                    <li><a href="">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="div_modal_canmodiusers" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModal_canmodiusers" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="myModal_canmodiusers">设置文章可修改人</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="form_canmodiusers">
            <div class="row-fluid">
                <div class="control-group">
                    <label class="control-label-small">可修改人</label>
                    <div class="controls-large">
                        <input type="hidden" id="ART_ID" name="ART_ID" />
                        <input type="text" class="span11 m-wrap select2" id="canmodiusers" name="canmodiusers" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn blue" data-dismiss="modal" onclick="javascript:mdlsel_savecanmodiusers();">确定</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>
